body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f4f6;
}
.navbar{
    min-height: 80px;
    background-color: #2c3e50;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2 rem;
    position: relative;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;

}

#menu-toggle{
    display: none;
}

.menu-button{
    display: none;
    cursor: pointer;
    font-size: 1.8rem;
}

.nav-links{
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-links li a:hover{
    color:#3498db ;
}

@media (max-width: 768px){
    .menu-button{
        display: block;
    }
    .navbar{
        padding: 0 20px;
        justify-content: space-between;
    }
    .nav-links{
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #34495e;
        padding: 1rem 0;
        text-align: center;
    }

    .nav-links li {
        margin: 1rem 0;
    }

    #menu-toggle:checked ~ .nav-links{
        display: flex;
        animation: slideDown 0.3s ease-in-out;
    }
    @keyframes slideDown {
        from { opacity: 0; transform: translateY(-10px); }
        to { opacity: 1; transform: translateY(0); }
    }

}



