body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.hero-section {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?q=80&w=1600&auto=format&fit=crop");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

.hero-content {
  max-width: 800px;
}

.hero-title {
  font-size: 3.5rem;
  margin: 0 0 1rem 0;
  font-weight: 700;
  line-height: 1.1;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-subtitle {
  font-size: 1.5rem;
  margin: 0 0 2.5rem 0;
  font-weight: 300;
  opacity: 0.9;
}

.btn-cta {
  display: inline-block;
  background-color: #e74c3c;
  color: wheat;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: transform 0.3, background-color 0.3;
}

.btn-cta:hover {
  background-color: #c0392b;
  transform: translateY(-3px); /* Le bouton "monte" légèrement */
}

@media(max-width: 768px){
    .hero-title{
        font-size: 2.4rem;
    }

    .hero-subtitle{
        font-size: 1.2rem;
    }

    .btn-cta{
        width: 100%;
        box-sizing: border-box;
    }
}





