body{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    min-height: 100vh;
    justify-content: center;

}

table{
    border: 1px solid black;

}
th , td{
    border: 1px solid black;
    padding: 15px;
    text-align: left;
}