body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
  font-family: "Segoe UI", sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;

  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;

  transition: transform 0.8s;

  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.flip-card-back {
  background: linear-gradient(
    135deg,
    #1e293b,
    #0f172a
  ); /* Fond sombre élégant */
  color: white;

  transform: rotateY(180deg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.flip-card-back h1 {
  margin-bottom: 0.5rem;
}

.flip-card-back p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
  color: #cbd5e1;
}

.btn-buy {
  padding: 10px 25px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-buy:hover {
  background-color: #2563eb;
}
