body{
    margin: 0;
    padding: 2rem;
    background-color:#1a202c ;
    color: white;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    gap: 1.5rem;
}

.gallery-item{
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 , 4px , 6px , rgba(0,0,0,0.3);
    aspect-ratio: 1/1;
    cursor: pointer;
}


.gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease, filter 0.4s ease;
}

.gallery-item img:hover{
    transform: scale(1.1);
    filter: brightness(1.1);
}



